html {
	background-color: #F5D769 ;
	font-family: monospace;
}

header {
	font-size: 30px;
	text-align: center;
	color: red;
}

li {
  list-style: none;
}

p {
	text-align: center;
}

section {
	float: left;
	width: 50%;
}

span {
	float: left;
}

#burger-list {
	margin-left: 20%;
}

#burger-list-item {
	background: white;
  	padding-left: 5%;
  	padding-top: 1%;
  	padding-bottom: 2%;
  	border: 1%;
}

#burger-submit {
	float: right;
	vertical-align: top;
}

#devour-button {
	position: relative;
	bottom: -14px;
	margin-left: 4%;
}

#hamburger-image {
	width: 20%;
	position: relative;
	left: 39%;
}

#new-burger {
	clear: both;
	margin-left: 24%;
	width: 55%;
}

#new-burger-submit {
	position: relative;
	left: 40%;
	background-color: #4e91fd;
	color: white;
}

#new-burger-text {
	width: 45%;
	position: relative;
	left: 25%;
}

.available-burger {
}

.burgers {
	width:	70%;
	background: white;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 1%;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.devour-burger {
	width: 60%;
	background: white;
	border-style: ridge;
	border-width: 1px;
  	padding-left: 5%;
  	padding-top: 1%;
  	padding-bottom: 2%;
}

.form-group {
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {
	header {
		font-size: 35px;
	}

	p {
    	text-align: center;
    	position: relative;
    	right: 23%;
    	font-size: 20px;
	}

	section {
		width: 100%;
	}

	#burger-list {
		margin-left: 0;
	}

	/* Hide devoured list on mobile for better user experience. */
	#devoured-hamburgers {
		display: none;
	}

	#hamburger-image {
		width: 50%;
		left: 25%;
	}

	#new-burger {
		width: 100%;
	}

	#new-burger-submit {
		position: relative;
		left: 22%;
		width: 40%;
		height: 34px;
		font-size: 24px;
	}

	#new-burger-text {
		width: 90%;
		left: 2%;
		height: 75px;
		font-size: 36px;
	}

	.burgers {
		width: 90%;
		font-size: 20px;
		position: relative;
		right: 4%;
	}

	.create-update-form {
		width: 100%;
		position: relative;
		right: 24%;
	}

	.devour-button {
		background-color: #4e91fd;
		color: white;
		font-size: 20px;
		margin-left: -13px;
		margin-top: -18px;
		margin-bottom: 17px;
	}

	.form-group {
		width: 100%;
	}
}
