html {
	background-color: #F5D769 ;
	font-family: monospace;
}

header {
	font-size: 30px;
	text-align: center;
	color: red;
}

li {
  list-style: none;
}

.available-burger {
}

#burger-list-item {
	background: white;
  	padding-left: 5%;
  	padding-top: 1%;
  	padding-bottom: 2%;
  	border: 1%;
}

#burger-submit {
	float: right;
	vertical-align: top;
}

.devour-burger {
	width: 44%;
	background: white;
  	padding-left: 5%;
  	padding-top: 1%;
  	padding-bottom: 2%;
}

#devour-button {
	position: relative;
	bottom: -14px;
}

.does-this-work {
	width:	44%;
	background: white;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 1%;
}

section {
	float: left;
	width: 40%;
}

span {
	float: left;
}

#new-burger {
	clear: both;
}

p {
	text-align: center;
}

#hamburger-image {
	width: 25%;
	position: relative;
	left: 37%;
}

#new-burger-submit {
	position: relative;
	left: 40%;
	background-color: #4e91fd;
	color: white;
}

#new-burger-text {
	width: 45%;
	position: relative;
	left: 25%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
